;; shadow-cljs configuration
{:source-paths ["src/main"]

 :dependencies [[cider/cider-nrepl "0.21.0"]
                [binaryage/devtools "1.0.2"]]

 :dev-http {8880 "public"}

 :builds
 {:rps
  {:target :browser
   :modules {:main {:init-fn rps.core/init}}}}}
