html, body {
  margin: 0;
  height: 100%;
  font-family: 'VT323', monospace;
  background-color: #89CFF0;
}

.main-ctx
{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center-ctx
{
  flex: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-ctx, .left-ctx
{
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 30%
}

.title, .ui-message
{
  text-align: center;
}

.ui-message
{
  margin-top: 4rem;
}

.score-display
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.score-box
{
  margin: .5rem;
  display: flex;
  justify-content: space-between;
}

#computer-score
{
  margin-left: 1rem;
}

#player-score
{
  margin-left: 1rem;
}

.score-box
{
  display: flex;
  flex-direction: row;
}

button
{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #6200ee;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

